$large-screen : 1024px;
$medium-screen : 640px;
$small-screen : 320px;
$letterColor: #ffffff;
$buttonBackground: #3498db;
$buttonHover: #3cb0fd;
$descriptionFont: 'Abril Fatface', cursive;
$contentFont: 'Roboto', sans-serif;